#main {
    display: flex;
    flex-wrap: wrap;
    padding: 7% 7%;
}

#beer-div {
    width: 30%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partial-cnt {
    display: flex;
    flex-direction: column;
}

img {
    height: 240px;
    width: 80px;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
}

#random-beer-div {
    padding: 30px
}
