/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

nav {
    background-color: #2081c3;
    height: 7vh;
    display: flex;
    padding-left: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav > a {
    color: #f7f9f9;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: small;
}

footer {
    background-color: #0a2c42;
    height: 7vh;
    color: #f7f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer > p {
    margin-left: 20px;
    font-size: small;
}